/**
 * ---------------------------------------------------------------------------------------------------------------------
 * Main stylesheet
 * ---------------------------------------------------------------------------------------------------------------------
 */
/* Load the variables */
/**
 * ---------------------------------------------------------------------------------------------------------------------
 * Variables
 * ---------------------------------------------------------------------------------------------------------------------
 */
/* Typography variables */
/* Colors */
/* Load typography styles */
/**
 * ---------------------------------------------------------------------------------------------------------------------
 * Typography
 * ---------------------------------------------------------------------------------------------------------------------
 */
body {
  color: #2e2e2e;
  font: 18px / 27px "Open sans", "Helvetica Neue", Helvetica, Arial, san-serif;
  -webkit-font-smoothing: antialiased;
}
p {
  margin: 0 0 27px 0;
}
p a {
  font-style: italic;
}
/* Load section styles */
/* Load responsive rules */
